{% extends 'hotel/base.html' %}
{% load static %}


{% block content %}
<div class="row ">
    <div class="d-flex flex-row-reverse">
        <form method="post">{% csrf_token %}
            <button type="submit" class="btn btn-outline-light" name="passeNuit">Passer une nuit</button>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-9 col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2 class="align-self-center">Réception</h2>
                <img src="{% static 'img/reception1.svg' %}" height="100rem">
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <img src="{% static client.photo %}" height="150rem">
                    </div>
                    <div class="col-6">
                        {{ client.prenom }}
                        {{ client.nom }}
                        Voudrait une chambre {{ client.couleur_pref }} pour {{ client.nb_nuit }} nuit{% if client.nb_nuit >= 2 %}s{% endif %}.
                    </div>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger text-center mb-1" role="alert">
                            <span>{{ message }}</span>
                        </div>
                        {% else %}
                        <div class="alert alert-success text-center mb-1" role="alert">
                            <span>{{ message }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer">
                <form method="POST">{% csrf_token %}
                    Aller dans la chambre :
                    {{ moveform.chambre_occupee }}
                    <button type="submit" class="btn btn btn-outline-light" name="move">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row my-5 g-3">
    {% for chambre in chambres %}
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
        <div class="card-header">
            Chambre nº{{ chambre.id_chambre }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img src="{% static chambre.photo %}" height="150rem">
                </div>

                {% if chambre.occupant is not null %}
                <div class="col">
                    <a href="{% url 'client_detail' id=chambre.occupant.id_client %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80%"  fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                    </a>
                </div>
                {% endif %}

                {% if not chambre.propre %}
                <div class="col">
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="nettoyer" value="{{ chambre.id_chambre }}">
                        <button type="submit" class="btn btn-outline-light">Nettoyer</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>






{% endblock %}
