{% extends 'hotel/base.html' %}
{% load static %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-9 col">
        <div class="card">
            <div class="card-header">
                <h2>Réception</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                    </div>
                    <div class="col-6">
                        {{ client.prenom }}
                        {{ client.nom }}
                        Voudrait une chambre {{ client.couleur_pref }} pour {{ client.nb_nuit }} nuit{% if client.nb_nuit >= 2 %}s{% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form method="POST">{% csrf_token %}
                    Aller dans la chambre :
                    {{ moveform.chambre_occupee }}
                    <button type="submit" class="btn btn btn-outline-secondary" name="move">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row row-col-lg-3 row-col-md-3 row-col-sm-2">
    {% for chambre in chambres %}
    <div class="col">
        <div class="card">
        <div class="card-header">
            Chambre nº{{ chambre.id_chambre }} {{ chambre.couleur }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                    </svg>
                </div>
                <div class="col">
                    {% if chambre.occupant is not null %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                    {% endif %}
                </div>
                <div class="col">
                    {% if not chambre.propre %}
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="nettoyer" value="{{ chambre.id_chambre }}">
                        <button type="submit" class="btn btn-outline-light">Nettoyer</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>

<div class="row ">
    <div class="d-flex justify-content-center">
        <form method="post">{% csrf_token %}
            <button type="submit" class="btn btn-outline-light" name="passeNuit">Passer une nuit</button>
        </form>
    </div>
</div>

{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="col">
        {% if message.tags == 'error' %}
        <div class="alert alert-danger d-flex text-center" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success d-flex text-center" role="alert">
            {{ message }}
            {{ messaage.tags }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}
