[data-bs-theme=dark] {
    --bs-body-bg: dark;
}
h1,h2,h3,h4,h5 {
    font-family: 'Lobster';
}

.navbar-brand{
    color: #C25100; font-family: 'Lobster';
}
nav {
    background-color: hsl(351, 40%, 70%);
}